* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: rgb(18, 18, 19);
}

#main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-container {
    height: 90%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

#ttl {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}

#boxes {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.row {
    height: 20%;
    width: 100%;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.card {
    height: 95%;
    width: 18%;
    max-height: 70px;
    max-width: 70px;
}

.tile {
    height: 100%;
    width: 100%;
    max-height: 70px;
    max-width: 70px;
    font-weight: 1000;
    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

    position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flip .tile {
  transform: rotateY(180deg);
}

.front {
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 70px;
    max-width: 70px;
    padding: 10px 25px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 0 #ada0a0;
    background: linear-gradient(to bottom, #4d4d4d 0%, #424242 100%);
    color: white;
    font-weight: bold;
    backface-visibility: hidden;
}

.back {
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 70px;
    max-width: 70px;
    padding: 10px 25px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 0 #cc1e1e;
    background: linear-gradient(to bottom, #db0000 0%, #ff1d1d 100%);
    color: white;
    font-weight: bold;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.front span, .back span {
    display: inline-block;
    transform: translateX(-10px);
}

#keyboard {
    margin-top: 10px;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.krow {
    height: 33%;
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
}

.krow button {
    height: 85%;
    min-width: unset;

    width: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;

    padding: 0px 17px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 0 #555555;
    background: linear-gradient(to bottom, #4d4d4d 0%, #424242 100%);
    color: white;
    font-weight: bold;
    font-size: medium;
}

.krow button span {
    display: inline-block;
    transform: translateX(-4px);
}

#ENTER span{
    display: inline-block;
    transform: translateX(-12px) translateY(3px);
}

#DEL span{
    display: inline-block;
    transform: translateX(-12px) translateY(3px);
}

.krow button:active {
    background: rgb(145, 145, 145);
}

.btns {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.btns button {
    height: 40px;
    width: 95x;
    padding: 10px 25px;
    border: none;
    border-radius: 12px;
    font-family: "Arial Rounded MT Bold", "Helvetica", sans-serif;
    font-weight: bold;
}

#play {
    background: linear-gradient(to bottom, #98ffa1 0%, #07ff51 100%);
    color: #ffffff;
    box-shadow: 0 4px 0 #005c23;
}

#play:active {
    background: linear-gradient(to bottom, #427046 0%, #036621 100%);
}

.animate {
  animation: upDown 1s ease-in-out, fadeOut 0.5s forwards;
  animation-delay: 0s, 2s;
}

@keyframes upDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

@keyframes fadeOut {
  to { opacity: 0; display: none; }
}

.bg-layer {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #292929 0%, #dd0000cb 100%);
  /*background-color: red;*/
  transform: translate(-50%, -50%) scale(0); 
  z-index: -1;
  transition: transform 5s ease-out;
  pointer-events: none;
}

.bg-layer.active {
  transform: translate(-50%, -50%) scale(50);
}

.bg-layer {
  opacity: 0;
  transition: transform 5s ease-out, opacity 0.5s ease-in;
}

.bg-layer.active {
  opacity: 1;
}

#yes, #no {
    min-width: none;
    max-width: none;
    width: 100px;
    color: #ffffff;
    transform: translate();
}

#yes {
    background: linear-gradient(to bottom, #00990d 0%, #008026 100%);
    box-shadow: 0 4px 0 #005c23;
}

#no {
    background: linear-gradient(to bottom, #d80d0d 0%, #ff0d0d 100%);
    box-shadow: 0 4px 0 #7a0101;
}

#yes:active {
    background: linear-gradient(to bottom, #004e07 0%, #004615 100%);
    box-shadow: 0 4px 0 #005c23;
}

#no:active {
    background: linear-gradient(to bottom, #7a0707 0%, #9c0808 100%);
    box-shadow: 0 4px 0 #7a0101;
}

#mcard {
    height: 75%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.message {
    height: 70%;
    width: 80%;
    perspective: 1000px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 100%;
    width: 100%;
    max-width: 300px;
    font-weight: 1000;
    
    border-radius: 15x;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.message.flip .inner {
  transform: rotateY(-180deg);
}

.front-message {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 300px;
    background-color: #ff5c5c;
    border: 1px solid rgb(255, 163, 163);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    backface-visibility: hidden;
}

.back-message {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffc4c4 100%);
    color: white;
    font-weight: bold;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-message {
    display: flex;
    align-items: center;
    width: 90%;
    height: 70%;
    color: #555555;
    font-size: 40px;
    text-align: justify;
}

#btn3 {
    padding-bottom: 20px;
}

#open {
    width: 150px;
    font-size: large;
    font-weight: 900;
    background: linear-gradient(to bottom, #00990d 0%, #008026 100%);
    box-shadow: 0 4px 0 #005c23;
    color: #ffffff;
}

#open:active {
    background: linear-gradient(to bottom, #004e07 0%, #004615 100%);
    box-shadow: 0 4px 0 #005c23;
}

#popup-box {
    background-color: #0000007c;
    position: fixed;
    top: 0;
    min-height: 100vh;
    min-width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 500px;
    min-width: 300px;
    max-width: 350px;
    background: url('heartbg.jpeg');
    border-radius: 20px;
    color: rgb(255, 58, 58);
    font-size: large;
    font-weight: 1000;
}